Source: freealchemist
Section: games
Priority: optional
Maintainer: Devid Antonio Filoni <d.filoni@ubuntu.com>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 5)
Build-Depends-Indep: python-support (>= 0.5.3)
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.debian.org/python-apps/packages/freealchemist/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-apps/packages/freealchemist/trunk/

Package: freealchemist
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pygame
XB-Python-Version: ${python:Versions}
Description: simpler figure block game
 FreeAlchemist is a figure block game written in Python where you have to
 connect blocks.
 .
 The three or more blocks connected with the same shape will be replaced by a
 block with a different shape.
