#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

install/freealchemist::
	install -m755 $(CURDIR)/debian/freealchemist-starter $(CURDIR)/debian/freealchemist/usr/games/freealchemist
	dh_pysupport -pfreealchemist
